[Unit]
Description=My API Service
After=network.target

[Service]
Type=simple
User=zhanserik
Group=wheel
WorkingDirectory=/home/zhanserik/DevOps/Linux_Assignment/Task_4
Environment="PATH=/home/zhanserik/DevOps/Linux_Assignment/Task_4/env/bin"
ExecStart=/home/zhanserik/DevOps/Linux_Assignment/Task_4/env/bin/uvicorn main:app --host 0.0.0.0 --port 8080
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
